body {
	margin: 0;
}

#customize {
	margin: 50px 25%;
}

#generate {
	text-transform: uppercase;
}

.alert {
	text-transform: uppercase;
	text-align: center;
}


main {
	margin: 120px 25%;
}

legend {
	margin: 0 auto;
	text-align: center;
}

#qbox {
	width: 400px;
	background-color: #77CCFF;
	padding: 20px;
}

.option {
	border: 1px solid black;
	text-align: center;
	margin:3px 20%;
	width: 60%;
}

#options {
	margin-top: 5px;
}
